body {
    font-family: 'Century Gothic';
    background-color: #d4feee;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content:center;
    align-content:center;
    flex-direction:column;
    font-size: 42pt;
    height: 70%;
}

a {
    text-decoration: none;
}
